body{
	margin: 0;
}

header{
	background-color: #5ACA18;
	text-align: center;
	padding top: 15px
}

header h1{
	color: white;
	font-family: Helvetica, Ariel, sans-serif;
}

header img{
	border-radius: 120px;
	border: 10px solid #6931B1;
}
