body{
	background-color: #5ACA18;
	margin: 0;
	font-family: Helvetica, Ariel, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	text-align: center;
	padding-top: 60px;
}
header h1{
	color: red;
	font-size: 50px; 
}

h1, h2{
	font-family: 'Kavoon', cursive;
}

header img{
	border-radius: 120px;
	border: 10px solid #6931B1;
}

Main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	border-radius: 120px;
	border: 10px solid #6931B1;
	max-width: 100%;
}

h2{
	font-size: 40px;
	color: red;
	margin: 40px 0 10px;
}

a{
	color: red;
}
a:hover{
	color: white;
	background-color: #5ACA18;
}

footer{
	background-color: #6931B1;
	text-align: center;
	color: white;
	padding: 40px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;

}

p.caption{
	color: #999999;
	font-size: 25px;
	font-style: italic;
	margin-top: 0;
}
