body{
	margin: 0;
	font-family: Helvetica, Ariel, sans-serif;
}

header{
	background-color: #5ACA18;
	text-align: center;
	padding-top: 35px;
}
header h1{
	color: red;
	font-size: 50px; 
}

h1, h2{
	font-family: 'Kavoon', cursive;
}

header img{
	border-radius: 120px;
	border: 10px solid #6931B1;
}

Main{
	max-width: 800px; 
}








